*{
    margin:0;
    font-family: 'roboto';
}

body{
    margin:0px;
    border: 0px;
}

.outmostBox{
    /* margin-left: 100px; */

}

.header{
    background-color: #1F2937;
    display:flex;
    padding-top: 5px;
    padding-bottom: 5px;
    /* border: 1px solid red; */
    justify-content: space-evenly;
}

.headerLogoSection{
    /* flex: .8 1 auto; */
    /* border: 1px solid green; */
    min-width:250px;
    min-width:250px;
    text-align: left;
}

.headerLogoSection h3{
    /* border: 1px solid red; */
    padding: 3px;
    /* text-align: center; */

}

.headerLogoContent{
    /* margin-left: auto; */
}

.headerLogoContent h3{
    margin:0px;
    font-weight: bolder;
    font-family: sans-serif;
    color:white;
    min-width: none;
    font-size: 17px;
    /* text-align: center; */
}

.headerLinkSection{
    min-width: 200px;
    max-width: 200px;
    /* border: 1px solid red; */
    /* flex: 1 1 auto; */
    padding-top: 3px;
    /* gap:30px; */
    /* margin: 0px 30px 0px 30px; */
    text-align: center;

    /* margin-left: auto; */

}

.headerLinkContent{
    /* flex:1 1 auto; */
    /* border:2px solid blue; */
    display: inline;
    align-items: center;
    /* text-align: right; */
    margin: 0 10px 0 10px;
}

.headerLinkContent a{
    font-weight: 100;
    font-family: "Gill Sans", sans-serif;
    font-size: 15px;
    margin: 0;
    color: #e1e3e6;
}

.headerLinkContent a:link {
    text-decoration: none;
    /* color: white; */
    /* margin: 0; */
}

.headerLinkContent a:visited {
    text-decoration: none;
    /* color: white; */

}

.sect1container{
    background-color: #1F2937;
    /* align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center; */
}

.sect1{
    /* width: 80%; */
    /* border: 2px solid yellow; */
    padding-top: 3em;
    display: flex;
    /* gap: 2em; */
    justify-content: center;
    gap:40px;
    padding-bottom: 30px;
    /* display: grid;
    grid-template-columns: auto auto;
   justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center; */
    /* column-gap: 5px; */
    /* display: flex; */
}

.sect1content{
    /* border: 3px solid green; */
    /* margin-right: 30px; */
    /* flex: .8 1 auto; */
    /* width:530px; */
    /* margin-left: 10em; */
    /* color: white; */
    /* text-align: center; */
    /* min-width: 300px; */

}

.sect1content > h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8
}

.sect1content > p{
    font-size: 18px;
    color: #E5E7EB;
}

.sect1photo{
    /* flex: 1 1 auto; */
    /* gap: 1em; */
    /* object-fit: cover; */
    /* width:450px; */
    /* border: 5px solid green; */

}

.sect1photo > img{
    min-height:100px;
    min-width:100px;
    max-height: 200px;
    max-width: 200px;
    border-radius: 8px;
}

.sect2container{
    background-color: white;
    padding-bottom: 100px;
}

.sect2{
    /* display:flex; */
}

.sect2text{
    /* border: 2px solid red; */
    text-align: center;
    font-size: 30px;
    color: #1F2937;
    margin-top: 30px;
    margin-bottom: 30px;
}

.sect2projectsimgcontainer{
    display: flex;
    justify-content: center;
    gap:30px;
}


.proj > img{
    /* height: auto;
    width: 0%; */
    min-height:150px;
    min-width:150px;
    max-height: 150px;
    max-width: 150px;

    border-radius: 5px;
}

.proj{
    height: auto;
    min-height:150px;
    min-width:150px;
    max-height: 150px;
    max-width: 150px;
}

.proj > p{
    width: inherit;
    font-size: 18px;
    color: #6584b5;
    text-align: center;
}


.sect3container{
    padding: 30px 0 30px 0;
    background-color: #E5E7EB;
}

.sect3{
    border:3px solid green;
    width:50%;
    margin-left: auto;
    margin-right: auto;
}

.sect3quote{
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    text-align: center;
    color: #1F2937;
}

.author{
    font-size: 20px;
    font-weight: 1000;
    /* border: 2px solid red; */
    width: inherit;
    margin-left: auto;
    text-align:center;
}